<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invitation to Create Your cafe</title>
</head>
<body>
    <p>Hello,</p>
    
    <p>We're excited to invite you to create your menu on \</p>
    
    <p>Use the following link to sign up:</p>
    <h1>username:- <%= @cafe%></h1>
    <h1>password:- <%= @random_password %></h1>

    <ul>
        <li><a href="http://localhost:3000/users/sign_up">Sign Up</a></li>
    </ul>
   
    
    <p>Thank you and welcome to food ordering application!</p>
</body>
</html>
