<div class="container text-center">
  <h1 class="mt-5 mb-4">Create a Cafe</h1>
  <%= render "form", cafe: @cafe %>
</div>

<!--<h1>New cafe</h1>

<%#= render 'form' %>

<%#= link_to 'Back', cafes_path %>-->