<!DOCTYPE html>
<html>
<head>
             <title>Admin Approval </title>
</head>
<body>
          <h1>Please Approve or Reject this Order </h1>
          <button type="button" class="btn btn-primary">Accept</button>
          <button type="button" class="btn btn-danger">Reject</button>
</body>
<!-- order_confirmation.html.erb -->
<h2>Your order has been confirmed.</h2>
<!-- Add order details or any other content specific to order confirmation -->

</html>
